/nbproject/private/
/creationalpatterns/Factory Method Pattern/nbproject/private/
/creationalpatterns/Factory Method Pattern/build/
/creationalpatterns/AbstractFactoryPatternExample/nbproject/private/
/creationalpatterns/SingletonDesignPattern/nbproject/private/
/creationalpatterns/SingletonDesignPattern/build/
/creationalpatterns/SingletonDesignPattern/dist/
/creationalpatterns/PrototypeDesignPattern/nbproject/private/
/creationalpatterns/PrototypeDesignPattern/build/
/creationalpatterns/PrototypeDesignPattern/dist/